/* Style the header with a grey background and some padding */
.header {
    /* position: fixed; /*Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
    background-color:#1b1a19;
    padding: 0.1px 0.1px;

  }

  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */

  .header a.logo {
    font-size: 15px;
    /* font-weight: bold; */
  }


  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #FFFFFF;
    color: black;
  }

  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  /* Float the link section to the right */
  .header-right {
    float: right;
  }
